<!--<mat-toolbar color="primary" class="app-header-content">
  <button mat-button (click)="go(['project/' + currentProject])">CodeMan</button>
  <button mat-button (click)="go(['project/' + currentProject + '/code'])">代码</button>
  <button mat-button (click)="go(['project/' + currentProject + '/code'])">构建</button>
  <button mat-button (click)="go(['project/' + currentProject + '/code'])">发布</button>
  <div class="example-spacer"></div>
  <mat-form-field>
    <mat-select [(ngModel)]="currentProject" (selectionChange)="changeProject()">
      <mat-option *ngFor="let project of projects" [value]="project.id">
        {{project.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button [matMenuTriggerFor]="menu">
    <span>{{userInfo?.name}}</span>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">登出</button>
  </mat-menu>
</mat-toolbar>-->
<p-menubar [model]="menuItems">
  <div>
    <p-dropdown [options]="projectDropdownOptions" [(ngModel)]="currentProject" (onChange)="changeProject()"></p-dropdown>
    <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em" (click)="logout()"></button>
  </div>
</p-menubar>
<!--<p-menubar [model]="menuItems" [autoDisplay]="false">-->
<!--  <div>-->
<!--    <input type="text" pInputText placeholder="Search">-->
<!--    <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>-->
<!--  </div>-->
<!--</p-menubar>-->
