<p-dataView #dv [value]="codes" layout="grid" [paginator]="false" paginatorPosition="both" filterBy="brand"
            [sortOrder]="0">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-button icon="pi pi-plus" label="添加代码库" (click)="showCreateCodeDialog()"></p-button>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <!--<div style="position:relative">
            <input type="search" pInputText placeholder="Search by brand" (keyup)="dv.filter($event.target.value)">
          </div>-->
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-code pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6" [routerLink]="'./' + code.id + '/files'"><b>{{code.name}}</b></div>
          <div class="ui-g-10 ui-sm-6"><b>{{code.description}}</b></div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template let-code pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-card [header]="code.name" [style]="{width: '360px'}" [routerLink]="'./' + code.id + '/files'">
        <div>{{code.description}}</div>
      </p-card>
    </div>
  </ng-template>
</p-dataView>

<!-- dialog -->
<p-dialog header="添加代码库" [(visible)]="dialogDisplay" [modal]="true" [responsive]="true"
          [style]="{width: '50%', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <span style="width: 100px;" class="ui-inputgroup-addon">名称</span>
        <input type="text" pInputText [(ngModel)]="createCodeModel.name">
      </div>
    </div>

    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <span style="width: 100px;" class="ui-inputgroup-addon">选择源</span>
        <p-dropdown [options]="codeSourcesOptions" [(ngModel)]="createCodeModel.type"
                     [showClear]="true"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <span style="width: 100px;" class="ui-inputgroup-addon">地址</span>
        <input type="text" pInputText [(ngModel)]="createCodeModel.url">
      </div>
    </div>

    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <span style="width: 100px;" class="ui-inputgroup-addon">描述</span>
        <input type="text" pInputText  [(ngModel)]="createCodeModel.description">
      </div>
    </div>

  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="createCodeFunc()" label="确定"></button>
    <button type="button" pButton icon="pi pi-close" (click)="dialogDisplay=false" label="取消"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
