<!--<div class="login-container">-->
<!--  <div class="login-main">-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>统一身份认证系统</mat-card-title>-->
<!--        <mat-card-subtitle>合法授权，安全快捷！</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <div class="example-container">-->
<!--          <mat-form-field>-->
<!--            <input matInput placeholder="账号" [(ngModel)]="userInfo.name">-->
<!--          </mat-form-field>-->

<!--          <mat-form-field>-->
<!--            <input matInput placeholder="密码"  type="password" [(ngModel)]="userInfo.password">-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button mat-button color="primary" (click)="login()">登录</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->

<!--</div>-->
<!-- dialog -->
<p-dialog header="添加代码库" [(visible)]="dialogDisplay" [modal]="true" [responsive]="true"
          [style]="{width: '50%', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <span style="width: 100px;" class="ui-inputgroup-addon">用户名</span>
        <input type="text" pInputText [(ngModel)]="userInfo.username">
      </div>
    </div>

    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <span style="width: 100px;" class="ui-inputgroup-addon">密码</span>
        <input type="password" pInputText [(ngModel)]="userInfo.password">
      </div>
    </div>

  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="login()" label="确定"></button>
    <button type="button" pButton icon="pi pi-times" (click)="dialogDisplay=false" label="取消"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
